
{% extends "base.html" %}
{% block title %}POKEDEX{% endblock title %}
{% block content %}
<h3 class="p-2 text-center" style="font-family: 'Blackletter'; color: rgb(255, 255, 255);">TU SITIO POKEMON</h3>
<a href="{% url 'pokedex:add_pokemon' %}" class="btn btn-dark" style="font-family: 'Franklin Gothic Medium';">Crear Pokemon</a>
<a href="{% url 'logout' %}">Salir</a>

<div class="card-group">
    {% for pokemon in pokemons %}
        <div class="card m-2" style="border: 2px solid #000;">
            <img src="{{ pokemon.picture.url }}" alt="Imagen de {{pokemon}}" class="card-img-top" style="height: 400px; width: 100%; object-fit: cover;">
            <div class="card-body">
                <h4 class="card-title" style="font-family: 'Franklin Gothic Medium';">{{ pokemon }}</h4>
                <p class="card-text">
                    Entrenador: {{ pokemon.trainer }} <br>
                    Peso: {{ pokemon.weight }}
                </p>
                <a href="pokemon/{{ pokemon.id }}" class="btn btn-success">Detalles</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}

